<div class="movie-details-container">
  <button class="back-button" (click)="goBack()">⬅ Go Back</button>

  <div class="movie-details">
    <div class="movie-info">
      <h2>{{ movie.Title }}</h2>
      <p><strong>Year:</strong> {{ movie.Year }}</p>
      <p><strong>Genre:</strong> {{ movie.Genre }}</p>
      <p><strong>Director:</strong> {{ movie.Director }}</p>
      <p><strong>Actors:</strong> {{ movie.Actors }}</p>
      <p><strong>Plot:</strong> {{ movie.Plot }}</p>

      <div class="ratings">

        <h3>Ratings:</h3>
        <div *ngFor="let r of movie.Ratings" class="rating">
          <strong>{{ r.Source }}:</strong>
          <span class="stars">{{ getStars(r.Value) }}</span> ({{ r.Value }})
        </div>
          </div>
    </div>

    <div class="movie-poster-container">
      <img [src]="movie.Poster" alt="{{ movie.Title }}" class="movie-poster">
    </div>
  </div>
  <div class="review">
    <h3>Add a review</h3><br>
    <div class="feedback">
      <textarea [(ngModel)]="newReview.text" placeholder="Your review"></textarea>
      <button class="leave" (click)="addReview()">Leave</button>
    </div>
  </div>
  
  <div class="reviews">
    <h3>Reviews</h3>
    <ul>
      <li *ngFor="let review of reviews">
        {{ review.text }}
      </li>
    </ul>
  </div>
  
</div>
