.movie-details-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.back-button {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}

.movie-details {
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.movie-info {
  flex: 1;
  max-width: 60%;
}

.movie-poster-container {
  flex-shrink: 0;
}

.movie-poster {
  max-width: 300px;
  border-radius: 10px;
}

.stars {
  color: gold;
  font-size: 18px;
}
.review{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
}
.feedback{
  display: flex;
  gap: 5px;
}
textarea{
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  width: 300px;
  height: 30px;

}
.leave{
  margin-top: 4px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: aliceblue;
}
.leave:hover{
  background-color: #0056b3;

}
.reviews{
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reviews ul{
  list-style: none;
  margin-bottom: 5px;
}
.reviews li{
    background: white;

}
.star-rating {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
}

.star {
  color: #ccc;
  transition: color 0.3s ease;
}

.star:hover,
.star:hover ~ .star {
  color: gold;
}

.star.selected {
  color: gold;
}
