<div>
  <h2>Movies List</h2>
  <div class="srch">
    <input class="srch1" type="text" [(ngModel)]="searchQuery" placeholder="Search movies" (input)="searchMovies()">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button">
  </div>

  <div class="movies-container">
    <div *ngFor="let movie of filteredMovies" class="movie-card" (click)="goToMovieDetails(movie)">
      <img [src]="movie.poster || 'https://via.placeholder.com/150'" alt="{{ movie.Title || movie.title }}" class="movie-poster">
      <h3>{{ movie.Title || movie.title }}<br>
        <p>{{ getGenreList(movie) }}</p>              
      </h3>
    </div>
  </div>
</div>
